[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg = {extras = ["binary", "pool"], version = ">=3.2,<4.0"}
python-dotenv = "*"
django-environ = "*"
dj-database-url = "*"
stripe = "*"
django-ninja = ">=1.6,<2.0"
uvicorn = {extras = ["standard"], version = ">=0.30,<1.0"}

[dev-packages]
pytest = "*"
pytest-django = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
