[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-environ = "*"
dj-database-url = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
